form
{
	text-align: center;
}

form p
{
	margin: 0;
	padding: 0;
	
	/*margin-bottom: 5px;*/
}

form input, select
{
	width: 80%;
	height: 30px;
	text-align: center;
	
	font-size: x-large;
}



form table select
{
	width: 80%;
	height: 30px;
	
	
	font-size: x-large;
}


form table
{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

form legend
{
	font-size: x-large;
	font-weight: 700;
}



/*
 * 	####		Button		#### 
 */


button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  line-height: 1.8;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size:  x-large;
}
button:focus {
  outline: none
}
form button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}
form button:hover,
form button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}
form button:active,
form button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}


