
form fieldset
{
	background-color: white;
	margin-top: 20px;
	border: solid 1px rgba(0,0,0,0.4);
}

form fieldset legend
{
	font-weight: 700;
	font-size: large;
}

form table 
{
	width: 100%;
}
form table td
{
	width: 70%;
}
form table th
{
	width: 30%;
	text-align: right;
}

form input, form select
{
	width: 80%;
	height: 25px;
}







/*
 * 	####		Button		#### 
 */


button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  line-height: 1.8;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size:  x-large;
}
button:focus {
  outline: none
}
button {
  color: #fff;
  background-color: #6496c8;
  text-shadow: -1px 1px #417cb8;
  border: none;
}
button:hover,
button.hover {
  background-color: #346392;
  text-shadow: -1px 1px #27496d;
}
button:active,
button.active {
  background-color: #27496d;
  text-shadow: -1px 1px #193047;
}

button:disabled
{
	background-color: rgba(39,59,78,0.2);
}
