body
{
	background-color: white;
	margin: 0;
	padding: 0;
	float: left;
	
	font-family: 'Roboto Mono';
	font-weight: 400;
	
	width: 100%;
}

h1
{
	text-align: center;
	font-weight: 700;
	background-color: lightgray;
}
h2
{
	font-size: large;
	margin: 0;
	padding: 0;
}

nav, footer
{
	width:	100%;
}

nav p, footer p
{
	/*margin: 0;*/
	padding: 0;
	
	margin: 5px;
	
	
	list-style: none;
	
	text-align: center;
	
	background-color: #ecf0f1; /* Color Clouds*/
	border: solid 2px gray;
}

nav p:hover, footer p:hover
{
	/*margin: 0;*/
	padding: 0;
	
	margin: 5px;
	
	
	list-style: none;
	
	text-align: center;
	
	background-color: #bdc3c7; /* Color Silver*/
	border: solid 2px gray;
}

nav p
{
	font-size: x-large;
}
nav p:hover
{
	font-size: x-large;
}

nav p a, footer p a
{
	text-decoration: none;
	color: black;
}

div.wrap
{
	width: 100% - 5px;
	background-color: rgba(204, 204, 204,0.5);
	margin: 5px;
	padding: 2%;
	
	border: solid 2px silver;
}


